.like {
    margin:  0;
    padding-bottom: 10rem;

}
  
    .container-col {
      flex: 2;
      display: flex;
      flex-direction: row;
      gap: 2rem;
    
        
    }
  
  
      .content {
        background: rgb(36,0,0);
        background: linear-gradient(0deg, #111 0%, #111 38%, red);   
  
        flex: 1.75;
        display: flex;
        flex-direction: column;
        padding: 3rem;
        border-radius: 2rem;
        align-items: center;
        border: solid;
        border-width: 2.01px;
        border-color: red;
       
  
              
   
        }

        .imageA img {
          
            border-radius: 350px;
            transform: scale(.9);
            border: solid;
            border-width: 4px;
            border-color: #fff;
        }

      

@media (max-width:1500px) {
  .like {
    margin:  0;
    padding-bottom: 10rem;

}
  
    .container-col {
      flex: 2;
      display: flex;
      flex-direction: column;
      gap: 2rem;
    
        
    }
  
  
      .content {
        background: rgb(36,0,0);
        background: linear-gradient(0deg, #111 0%, #111 38%, red);   
  
        flex: 1.75;
        display: flex;
        flex-direction: column;
        padding: 1rem;
        border-radius: 2rem;
        align-items: center;
        border: solid;
        border-width: 2.01px;
        border-color: red;
       
  
              
   
        }

        .imageA img {
          
            border-radius: 350px;
            transform: scale(.9);
            border: solid;
            border-width: 4px;
            border-color: #fff;
        }

    
  

}


  
     
  
  
