.footer-container {

    width: 100%;
    padding-bottom: 1rem;
    background-color: #111;
    color: #fff;
  
    
  
}
  



.brand-footer {
 
    

}

.img-logo {
        transform: scale(.3);
}


.footer-content{


}



.socials{

    
    display: flex;
    justify-content: center;
    align-items: center;
   
  
    
}

.socials li{
    transform: scale(.3);
}





@media (max-width:500px) {
    .footer-menu ul{
        display: flex;
        margin-top: 10px;
        margin-bottom: 20px;
      }
      
      .socials a{
          text-decoration: none;
          color: #fff;
          transform: scale(.8);
          padding: 4px;
      
          border-radius: 50%;
      
      }
      
    

}




