

  
   /* NAVBAR STYLING STARTS */
   .player {
    height: 100px;
    width: 320px;
    background: black;
     display: flex;
    flex-direction: row;
    border-radius: 10px;
    border: solid;
    border-width: 1px;
    border-color: #ff0000;
  
  
  }
  
  .song-cover {
    width: 30%;
    background: #ff0000;
  }
  
  .song-meta {
    width: 75%;
    padding-left: 1rem;
    line-height: 2rem;
    margin: auto;
  }
  
  .musicplayer {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    top: 100px;
  
  }
  
  .nowPlaying {
    text-align: center; 
    font-size: 1.5rem;
    padding-bottom: 1rem;
    
  }





  .navbar {
    width: 100%;
    padding-bottom: 1rem;
    background-color: #111;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
    
   }

   #logo {
    
    transform: scale(.3);
    
     
    
   }
  
  .btn-wallet {
    width: 250px;
   
    color: white;
    /* position: absolute;
    bottom: 25rem; */
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 20px;
    background-color: #111;
    border: solid;
    border-width: 2.01px;
    border-color: rgb(246, 169, 61);
    font-size: 1rem;
    
  }
  
  .btn-wallet:hover {
    color: white;
    background-color: rgb(255, 0, 0);
    border: solid;
    border-width: 2.01px;
    border-color: rgb(20, 20, 20);
 

  }
  
   .nav-links a {
    color: #fff;
    text-decoration: none;
  
    

      
   }
   /* LOGO */

   /* NAVBAR MENU */
   .menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
    padding-top: 0rem;
 


  
   }
   .menu li:hover {
    background-color: #ff0000;
    border-radius: 5px;
    transition: 0.3s ease;
    color: #111;

   }
   .menu li {
    padding: 5px 14px;
  
    
  
   }

   .discord {
    background-color: #111;
  }
  


   
  
   
  @media screen and (max-width: 430px) {
    
   /* NAVBAR STYLING STARTS */

.player {
  height: 100px;
  width: 320px;
  background: black;
  margin-bottom: 100px;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  border: solid;
  border-width: 1px;
  border-color: #ff0000;


}

.song-cover {
  width: 30%;
  background: #ff0000;
}

.song-meta {
  width: 75%;
  padding-left: 1rem;
  line-height: 2rem;
  margin: auto;
}

.musicplayer {
  display: flex;
  flex-direction: column;

}

.nowPlaying {
  text-align: center; 
  font-size: 1.5rem;
  padding-bottom: 1rem;
  
}


  .navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  
    padding-bottom: 1rem;
    background-color: #111;
    color: #fff;
   }
   .nav-links a {
    color: #fff;
   }
   
  
  .btn-wallet {
    color: white;
    position: absolute;
    display: none;
    top: 10%;
  
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 20px;
    margin-right: 2rem;
    background-color: #111;
    border: solid;
    border-width: 2.01px;
    border-color: rgb(246, 169, 61);
    margin: auto;
    font-size: 1rem;
  }
  
  .btn-wallet:hover {
    color: white;
    background-color: rgb(255, 0, 0);
    border: solid;
    border-width: 2.01px;
    border-color: rgb(20, 20, 20);
    margin: auto;
    font-size: 1rem;
  }
  
  
  
  .menu {
    display: none;
  } 
  
  #logo{
   
    transform: scale(.8);
    position: relative;
  
    display: flex;
    align-items: center;
    justify-content: space-between;
  
   
 
  }
  
  }
    