.container-free {
    max-width: 100%;
    padding: 0 15px;
    margin: 0;
    padding-bottom: 4rem;
    
    
  }
  
  

  
  .notice-container {
    padding: 48px;
  }
  
  
  
  .cards {
    display: grid;
    width: 100%;
    grid-auto-flow: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 2rem 0px;
    overflow-x: scroll;
    grid-auto-columns: calc(25% - 30px);
    grid-column-gap: 40px;
    
    
  
  }
  

  
  .card {
 
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: var(--white);
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 15%);
    scroll-snap-align: start;
    transition: all 0.2s;
    background-color: #111;
    border: solid;
    border-width: 2.01px;
    border-color: rgb(246, 169, 61);
  
  
  }
  
  .card:hover {
    color: var(--white);
    background: rgb(36,0,0);
    background: linear-gradient(0deg, #111 0%, #111 38%, red);  
  }
  
  .ut-battlezone {
    display: flex;
    flex-direction: column;


  
  }

  .column-left{ display: flex; flex-direction: column; text-align: center; padding:2rem;}
  .column-right{ display: flex; flex-direction: column; width: 100%;  text-align: center; padding:2rem;}
  .column-center{  display: flex; flex-direction: column;width: 100%;  text-align: center; padding:2rem;}

  

  
  @media (max-width: 480px) {
    .cards {
      display: flex;
      gap: 2rem;
    


    }

    .container-free {
        position:relative;
        top: -20rem;
         max-width: 1100px;
        padding: 0 15px;
        margin: 0;
    
        
        
      }



      
    
      .card {
    
        display: flex;
        flex-direction: column;
        padding: 8px;
        background: var(--white);
        border-radius: 12px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 15%);
        scroll-snap-align: start;
        transition: all 0.2s;
        background-color: #111;
        border: solid;
        border-width: 2.01px;
        border-color: rgb(246, 169, 61);
      
      
      }
      
      .card:hover {
        color: var(--white);
        background: rgb(36,0,0);
        background: linear-gradient(0deg, #111 0%, #111 38%, red);  
      }
      
      
      
      
      
      
      .card .card-content {
        margin: 20px 0;
        max-width: 100%;
        padding: 0 10px;
        /* text-transform: uppercase; */
        font-size: 1.5rem;
        font-weight: 700;
        color: white;
        line-height: 1.5rem;
      }
      
      .card .card-link-wrapper {
        margin-top: auto;
      }
      
   
  .notice-container {
    padding:12px;
  }
  
      
      
      
    
    


}
  

    
    
    
    
  
  
  
  
  
  
  